*, h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-style:normal;
}

ul, li, a{
    padding-inline-start: 0;
    text-decoration: none;
    list-style: none;
}

.pinkText{
    color: #ff3998;
}

.silverText{
    color: #555555;
}

.goldText{
    color: #ff8139;
}

header, nav, .navbar, .burger, .navbar ul, .luanchingSoon, .pinkBackground, .pinkShape, .companyNamesGrey, .auctionText, .cardsLine, .cardText, .cardFrame, .cardTopText, .cardMidleText, .cardBottomText, .ethLogo, .greenLady, .lady, footer, .footerTopLine, .footerNavbar, .footerBottomLine{
    display: flex;
}

header, nav, .navbar, .burger, .companyNamesGrey, .cardsLine, .cardTopText, .cardMidleText, .cardBottomText, .ethLogo, .footerTopLine, .footerNavbar, .footerBottomLine{
    justify-content: space-between;
}

footer, .cardText, .cardFrame, .auctionText, .pinkBackground{
    flex-direction: column;
}

header{
    align-items: center;
    margin:70px 80px 0 80px;
}

.burger{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px 5px 5px 5px;
    transition: all 0.3s ease;
    background-color: #555555;
}

.ntfLogo img{
    width: 198px;
}

.navbar ul{
   align-items: center;
}

.navbar li{
    font-size: 20px; 
    font-weight: 400; 
    line-height: 100%;
    flex-direction: row;
    padding-left: 28px;
}

main{
    margin:0 80px;
}

.luanchingSoon{
    margin-top: 200px;
}

.nftLike{
    width: 610px;
    height: 519px;
    box-sizing: border-box;
}

.nftLike h1{
    font-size: 96px;
    padding-top:24px ;
    line-height: 116px;
    font-weight: 900;
}

.nftLike h4{
    font-size: 16px;
    line-height: 19px;
    font-weight: 700;
    letter-spacing: 0.1rem;
}

.nftLike p{
    padding: 32px 0 0 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 150%;
    width: 480px;
}

.signupButton{
    grid-column: 2;
    margin-top:68px;
}

.signupButton a{
    color: black;
    padding:27px 65.5px ;
    border:solid 4px #ff8039 ;
    border-radius: 35px;
    margin-bottom: 18px;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
}

.pinkShape{
    width: 354px;
    align-items: center;
    position: absolute;
    right:350px;
    top:220px;
}

.pinkShape img{
    object-fit: cover;
}

.pinkBackground{
    justify-content:flex-end;
    align-items: flex-start;
    background-image: url(assets/assets/background.svg);
    background-size: cover;
    max-width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 320px;
    margin-top:182px;
}

.pinkBackground h1{
    font-size: 40px;
    line-height: 48px;
    padding: 0 0 0 64px;
}

.pinkBackground p{
    font-size: 20px;
    line-height: 30px;
    padding:24px 0 64px 64px ;
}

.companyNamesGrey{
    margin:126px 0 120px 0;
}

.auctionText h1{
    font-size: 40px;
    line-height: 48px;
}

.auctionText p{
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    padding:24px 0 56px 0;
}

.auctionText a{
    text-decoration: underline;
    font-weight: 600;
}

.cardsLine{
    padding-bottom: 120px;
    border-bottom:solid 2px #eeeeee;
}

.cardText{
    background-color: #eeeeee;
    border-bottom-left-radius:15px ;
    border-bottom-right-radius: 15px;
    padding: 24px;
}

.ethLogo img{
    padding-right: 8px;
}

.cardTopText h3{
    font-size: 12px;
    line-height: 12px;
    padding-bottom: 12px;
}

.cardMidleText h2{
    font-size: 20px;
    line-height:20px;
    padding-bottom: 12px;
}

.cardBottomText h3{
    font-size: 18px;
    line-height: 18px;
}

.greenLady{
    border-bottom:solid 2px #eeeeee;
}

.nftLike .greenLadyText h1{
    font-size: 56px;
    line-height: 68px;
    font-weight: bold;
    width: 620px;
}

.greenLady h4{
    margin-top: 120px;
}

.lady{
    height: 467px;
    justify-content: space-around;
    margin-top:85px;
}

footer{
    padding-top:122px;
    margin:0 80px 70px 80px;
}

.nftlandingZone p{
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    padding-top: 30px;
}

.iconsGrey a{
    color: #999999;
}

.iconsGrey svg{
    padding-right: 16px;
    padding-top: 32px;
    padding-bottom: 120px;
}

.footerNavbar{
    width: 590px;
    padding-right: 30px;
}

.fontBold{
    font-size: 16px;
    line-height: 19px;
    font-weight: 700;
    padding-bottom: 20px;
    letter-spacing: 0.1rem;
}

.footerNavbarLiText a{
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    
}

.footerNavbarLiText li{
    padding-bottom: 17px;
}

.footerBottomLine h3{
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
}

@media screen and (max-width:428px) {
    header{
        margin:32px 32px 0 32px;
        padding-bottom: 80px;
    }

    .navbar{
        display: none;
    }

    .burger{
        display: block;
    }

    .navbar .dropdown{
        display: flex;
        flex-direction: column;
    }

    .navbar .dropdown li{
        padding-bottom: 8px;
    }

    div.burger:hover{
        border: solid black 2px;
    }

    main, .pinkBackground{
        padding:0;
        margin:0;
    }

    .luanchingSoon, .greenLady{
       margin: 0 32px 
    }

    .nftLike p, .nftLike{
        width: 274px;
    }

    .nftLike h1{
        font-size: 48px;
        line-height: 58px;
    }

    .pinkShape{
        position: absolute;
        width: 190px;
        height: 278px;
        top:200px;
        left:205px;
    }

    .pinkShape img{
        height: 400px;
    }

    .pinkBackground{
        height: 326px;
    }

    .pinkBackground h1{
        padding: 0 0 0 32px;
        width: 364px;
    }

    .pinkBackground p{
        padding: 24px 64px 32px 32px;
        width: 364px;
    }

    .companyNamesGrey{
        margin: 67px 32px 56px 32px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 27px 35px;
    }

    .companyNamesGrey div:nth-child(1){
        display: none;
    }

    .cards{
        margin: 0 0 0 32px;
    }

    .auctionText h1, p{
        width:364px ;
    }

    .cardsLine{
        overflow-x: scroll;
        padding-bottom: 92px;
    }

    .cardFrame{
        margin-right: 40px;
    }

    .greenLady h4{
        margin-top:64px ;
    }

    .nftLike .greenLadyText h1{
        width: 274px;
    }

    .greenLady .nftLike p{
        width: 207px;
    }

    .lady{
        margin-top: 180px;
        position:relative;
        right:60px;
    }
    footer{
        padding: 0;
        margin:65px 32px 105px 32px;
    }

    .footerTopLine{
        flex-direction: column;
    }

    .footerNavbar{
        display: grid;
        width: 260px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 25px;
    }

    .footerBottomLine div:last-child{
        display: none;
    }

    .iconsGrey svg{
       padding-bottom: 64px;
    }


   
}
